In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [91]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [7]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [11]:
engine = create_engine("sqlite:///Resources/02-Homework_10-Advanced-Data-Storage-and-Retrieval_Instructions_Resources_hawaii.sqlite")

In [15]:
# reflect an existing database into a new model

Base=automap_base()


# reflect the tables

Base.prepare(engine,reflect=True)

In [16]:
# We can view all of the classes that automap found
print(Base.classes.keys())
print(inspect(engine).get_table_names())

['measurement', 'station']
['measurement', 'station']

In [17]:
# Save references to each table
Measurement=Base.classes.measurement
Station=Base.classes.station

In [18]:
# Create our session (link) from Python to the DB
session=Session(engine)

In [36]:
session.query(Measurement).first().__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2a35c954e48>,
 'station': 'USC00519397',
 'prcp': 0.08,
 'tobs': 65.0,
 'id': 1,
 'date': '2010-01-01'}

In [37]:
session.query(Station).first().__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2a35c882248>,
 'id': 1,
 'latitude': 21.2716,
 'station': 'USC00519397',
 'elevation': 3.0,
 'name': 'WAIKIKI 717.2, HI US',
 'longitude': -157.8168}

# Exploratory Climate Analysis

In [119]:
dates =session.query(Measurement.date,Measurement.prcp).\
order_by(Measurement.date.desc())

date=[dates[x][0]for x in range(len(dates[:365]))]

In [120]:
date

['2017-08-23',
 '2017-08-23',
 '2017-08-23',
 '2017-08-23',
 '2017-08-22',
 '2017-08-22',
 '2017-08-22',
 '2017-08-21',
 '2017-08-21',
 '2017-08-21',
 '2017-08-21',
 '2017-08-20',
 '2017-08-20',
 '2017-08-20',
 '2017-08-19',
 '2017-08-19',
 '2017-08-19',
 '2017-08-19',
 '2017-08-18',
 '2017-08-18',
 '2017-08-18',
 '2017-08-18',
 '2017-08-17',
 '2017-08-17',
 '2017-08-17',
 '2017-08-17',
 '2017-08-16',
 '2017-08-16',
 '2017-08-16',
 '2017-08-16',
 '2017-08-15',
 '2017-08-15',
 '2017-08-15',
 '2017-08-15',
 '2017-08-15',
 '2017-08-14',
 '2017-08-14',
 '2017-08-14',
 '2017-08-14',
 '2017-08-14',
 '2017-08-13',
 '2017-08-13',
 '2017-08-13',
 '2017-08-13',
 '2017-08-13',
 '2017-08-12',
 '2017-08-12',
 '2017-08-12',
 '2017-08-11',
 '2017-08-11',
 '2017-08-11',
 '2017-08-11',
 '2017-08-10',
 '2017-08-10',
 '2017-08-10',
 '2017-08-10',
 '2017-08-09',
 '2017-08-09',
 '2017-08-09',
 '2017-08-08',
 '2017-08-08',
 '2017-08-08',
 '2017-08-08',
 '2017-08-07',
 '2017-08-07',
 '2017-08-07',
 '2017-08-07',
 '2017-08-06',
 '2017-08-06',
 '2017-08-06',
 '2017-08-06',
 '2017-08-06',
 '2017-08-05',
 '2017-08-05',
 '2017-08-05',
 '2017-08-04',
 '2017-08-04',
 '2017-08-04',
 '2017-08-04',
 '2017-08-03',
 '2017-08-03',
 '2017-08-03',
 '2017-08-03',
 '2017-08-02',
 '2017-08-02',
 '2017-08-02',
 '2017-08-02',
 '2017-08-01',
 '2017-08-01',
 '2017-08-01',
 '2017-08-01',
 '2017-07-31',
 '2017-07-31',
 '2017-07-31',
 '2017-07-31',
 '2017-07-31',
 '2017-07-31',
 '2017-07-31',
 '2017-07-30',
 '2017-07-30',
 '2017-07-30',
 '2017-07-30',
 '2017-07-30',
 '2017-07-29',
 '2017-07-29',
 '2017-07-29',
 '2017-07-29',
 '2017-07-29',
 '2017-07-29',
 '2017-07-28',
 '2017-07-28',
 '2017-07-28',
 '2017-07-28',
 '2017-07-28',
 '2017-07-28',
 '2017-07-28',
 '2017-07-27',
 '2017-07-27',
 '2017-07-27',
 '2017-07-27',
 '2017-07-27',
 '2017-07-27',
 '2017-07-27',
 '2017-07-26',
 '2017-07-26',
 '2017-07-26',
 '2017-07-26',
 '2017-07-26',
 '2017-07-26',
 '2017-07-26',
 '2017-07-25',
 '2017-07-25',
 '2017-07-25',
 '2017-07-25',
 '2017-07-25',
 '2017-07-25',
 '2017-07-25',
 '2017-07-24',
 '2017-07-24',
 '2017-07-24',
 '2017-07-24',
 '2017-07-24',
 '2017-07-24',
 '2017-07-23',
 '2017-07-23',
 '2017-07-23',
 '2017-07-23',
 '2017-07-23',
 '2017-07-22',
 '2017-07-22',
 '2017-07-22',
 '2017-07-22',
 '2017-07-22',
 '2017-07-22',
 '2017-07-21',
 '2017-07-21',
 '2017-07-21',
 '2017-07-21',
 '2017-07-21',
 '2017-07-21',
 '2017-07-21',
 '2017-07-20',
 '2017-07-20',
 '2017-07-20',
 '2017-07-20',
 '2017-07-20',
 '2017-07-20',
 '2017-07-20',
 '2017-07-19',
 '2017-07-19',
 '2017-07-19',
 '2017-07-19',
 '2017-07-19',
 '2017-07-19',
 '2017-07-18',
 '2017-07-18',
 '2017-07-18',
 '2017-07-18',
 '2017-07-18',
 '2017-07-18',
 '2017-07-18',
 '2017-07-17',
 '2017-07-17',
 '2017-07-17',
 '2017-07-17',
 '2017-07-17',
 '2017-07-17',
 '2017-07-16',
 '2017-07-16',
 '2017-07-16',
 '2017-07-16',
 '2017-07-16',
 '2017-07-16',
 '2017-07-15',
 '2017-07-15',
 '2017-07-15',
 '2017-07-15',
 '2017-07-15',
 '2017-07-15',
 '2017-07-14',
 '2017-07-14',
 '2017-07-14',
 '2017-07-14',
 '2017-07-14',
 '2017-07-14',
 '2017-07-13',
 '2017-07-13',
 '2017-07-13',
 '2017-07-13',
 '2017-07-13',
 '2017-07-13',
 '2017-07-13',
 '2017-07-12',
 '2017-07-12',
 '2017-07-12',
 '2017-07-12',
 '2017-07-12',
 '2017-07-12',
 '2017-07-12',
 '2017-07-11',
 '2017-07-11',
 '2017-07-11',
 '2017-07-11',
 '2017-07-11',
 '2017-07-11',
 '2017-07-11',
 '2017-07-10',
 '2017-07-10',
 '2017-07-10',
 '2017-07-10',
 '2017-07-10',
 '2017-07-10',
 '2017-07-10',
 '2017-07-09',
 '2017-07-09',
 '2017-07-09',
 '2017-07-09',
 '2017-07-09',
 '2017-07-09',
 '2017-07-08',
 '2017-07-08',
 '2017-07-08',
 '2017-07-08',
 '2017-07-08',
 '2017-07-08',
 '2017-07-07',
 '2017-07-07',
 '2017-07-07',
 '2017-07-07',
 '2017-07-07',
 '2017-07-07',
 '2017-07-07',
 '2017-07-06',
 '2017-07-06',
 '2017-07-06',
 '2017-07-06',
 '2017-07-06',
 '2017-07-06',
 '2017-07-05',
 '2017-07-05',
 '2017-07-05',
 '2017-07-05',
 '2017-07-05',
 '2017-07-05',
 '2017-07-05',
 '2017-07-04',
 '2017-07-04',
 '2017-07-04',
 '2017-07-04',
 '2017-07-03',
 '2017-07-03',
 '2017-07-03',
 '2017-07-03',
 '2017-07-03',
 '2017-07-03',
 '2017-07-03',
 '2017-07-02',
 '2017-07-02',
 '2017-07-02',
 '2017-07-02',
 '2017-07-02',
 '2017-07-01',
 '2017-07-01',
 '2017-07-01',
 '2017-07-01',
 '2017-06-30',
 '2017-06-30',
 '2017-06-30',
 '2017-06-30',
 '2017-06-30',
 '2017-06-30',
 '2017-06-30',
 '2017-06-29',
 '2017-06-29',
 '2017-06-29',
 '2017-06-29',
 '2017-06-29',
 '2017-06-29',
 '2017-06-29',
 '2017-06-28',
 '2017-06-28',
 '2017-06-28',
 '2017-06-28',
 '2017-06-28',
 '2017-06-28',
 '2017-06-27',
 '2017-06-27',
 '2017-06-27',
 '2017-06-27',
 '2017-06-27',
 '2017-06-27',
 '2017-06-26',
 '2017-06-26',
 '2017-06-26',
 '2017-06-26',
 '2017-06-26',
 '2017-06-26',
 '2017-06-26',
 '2017-06-25',
 '2017-06-25',
 '2017-06-25',
 '2017-06-25',
 '2017-06-25',
 '2017-06-24',
 '2017-06-24',
 '2017-06-24',
 '2017-06-24',
 '2017-06-24',
 '2017-06-23',
 '2017-06-23',
 '2017-06-23',
 '2017-06-23',
 '2017-06-23',
 '2017-06-23',
 '2017-06-23',
 '2017-06-22',
 '2017-06-22',
 '2017-06-22',
 '2017-06-22',
 '2017-06-22',
 '2017-06-22',
 '2017-06-21',
 '2017-06-21',
 '2017-06-21',
 '2017-06-21',
 '2017-06-21',
 '2017-06-21',
 '2017-06-20',
 '2017-06-20',
 '2017-06-20',
 '2017-06-20',
 '2017-06-20',
 '2017-06-20',
 '2017-06-19',
 '2017-06-19',
 '2017-06-19',
 '2017-06-19',
 '2017-06-19',
 '2017-06-19',
 '2017-06-19',
 '2017-06-18',
 '2017-06-18',
 '2017-06-18',
 '2017-06-18',
 '2017-06-18']

In [118]:
import datetime
datetime_obj = datetime.datetime.strptime(a,'%Y-%m-%d')
datetime_obj.month

8

AttributeError: 'list' object has no attribute 'strptime'

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from the last data point in the database

# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`